
/*header*/

.header-fondo{
    background-color: black;
}


.header {
background: linear-gradient(rgb(0, 0, 0), rgb(138, 138, 138));
height: 80px;
margin: 0;
padding: 0%;

}


.sub-contact {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 20px;
    color: rgb(240, 240, 240);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.sub-contact:hover{
    background-color: rgb(0, 0, 0);
    transition: 550ms;
    scale: 1.02;
}

.inicio{
margin-right: 0%;
text-decoration: none;
color: rgb(207, 207, 207);}
.suscripciones{
margin-left: 25%;
text-decoration: none;
color: rgb(207, 207, 207);
}




body {
    margin: 0;
    padding: 0;
    background-color: rgb(138, 138, 138);
}





/* lista del index */
.lista {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 10%;
    gap: 10px;
    color: rgb(211, 211, 211);
    
    }
    
    .div-lista {
      border: 8px solid, color(black);
      border-radius: 10px;
      width: 100%;
    }
    
    .lista .contenidolista {
        background-color:rgb(20, 20, 20);
        padding: 10px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin: 0%;
    
    }
    
    .lista .detalleslista {
        font-size: 14px;
        color: black;
        display: flex;
        justify-content: center;
    }
    
    
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* contacto */

.redes-contact {
    display: flex;
    justify-content: center;
    color: rgb(199, 199, 199);
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(rgb(0, 0, 0), rgb(73, 73, 73));
    margin: 0%;
    padding: 0%;


}

.logos-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logos-redes:hover{
    background-color:  rgb(73, 73, 73);
    transition: 340ms;
    scale: 1.2;
}

.logo-ig {
    height: 60px;
    width: 60px;
    margin-right: 18%;
}
.logo-cafe{
    height: 45px;
    width: 45px;

}
.logo-x {
    height: 60px;
    width: 60px;
    margin-left: 18%;
    margin-right: 2%;
}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*FORMULARIO*/


.datos-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 223, 223);
    background: linear-gradient(rgb(0, 0, 0), rgb(70, 70, 70));
    padding: 4%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.form {
    padding: 10px;
    font-size: medium;
    width: 80%;
}

.input {
    width: 110%;
    padding: 5px;
}








/* footer */


.footer {
    background: linear-gradient( rgb(131, 131, 131), rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    gap: 45%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.terminos {
    color: rgb(240, 240, 240);
    margin: 0%;
    padding: 0%;
    
}
.copy {
    margin: 0%;
    padding: 0%;
    color: rgb(240, 240, 240);


}

.inicioterminos {
    color: rgb(240, 240, 240);
    margin: 0%;
    padding: 0%;
}




/*suscripciones*/


.cards-container{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}

.card{
    background: linear-gradient( rgb(15, 15, 15), rgb(64, 55, 65));
    color: white;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 0%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.card-title{
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2%;
    padding: 0;
}
.card-description{
    font-size: 18px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.card:hover{
    color:  rgb(56, 15, 56);
    box-shadow: 0px 0px 20px rgb(27, 15, 21);
    transition: 440ms;
    scale: 1.03;
}














@media(min-width: 992px) {


    .subtitulo {
        margin-top: 10px;
    }





    .lista {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        color: #8123de;
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        list-style-type: none; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    
    }



    .div-lista {
    display: flex;
    flex-direction: column;
    width: 30%;
    }


  
    
    
    .lista .contenidolista {
        background-color: yellow;
        padding: 5px;
    
    }
    
    .lista .detalleslista {
        font-size: 14px;
        color: black;
         ;
    }



    /*CARDS SUSCRIPCIONES*/

    .cards-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}