/*
color-primario: #99ff00;
color-secundario: #46453a;
color-terciario: #8123de;
color-cuarto: #11ff88;
*/


/* index */




/*header*/
.header {
display: flex;
justify-content: space-between;
gap: 8%;
background: linear-gradient(rgb(134, 63, 134), rgb(47, 47, 129));
}


.header .titulo {
    margin: 0%;
    padding: 0%;
    font-size: 25px;
}

.header .sub-contact {

font-size: 20px;
background-color: yellow;}



.header .logo img {

    height: 80px;
}


body {
    margin: 0;
    padding: 1px;
    background-color: rgb(238, 238, 238);
}





/* lista de todas las paginas */
.lista {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
list-style: none;
padding: 0%;
gap: 10px;
color: rgb(197, 59, 197);

}


.lista .contenidolista {
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;

}

.lista .detalleslista {
    font-size: 14px;
    color: black;
     ;
}





/* quita los puntos a las listas*/


.ul 
{
    list-style-type: none;
}





/*terminos div*/

.div1 {
background-color:  #8123de;
    
width:100%;
height: 90vh;


}

.div2
{
   background-color: yellow;
    width:50%;
height: 50%;
}

.div3
{
   background-color: red;
    width:50%;
height: 50%;
}


.div4
{
background-color: green;
    width:50%;
height: 50%;
}









/* contacto */

.form {
    padding: 10px;
    font-size: medium;
    width: 80%;
}

.input {
    width: 110%;
    padding: 5px;
}

/* footer */


.footer {
    background: linear-gradient(rgb(47, 47, 129), rgb(134, 63, 134));
    display: flex;
    justify-content: space-between;
    gap: 45%;
}


.terminos {
    color: rgb(240, 240, 59);
    margin: 0%;
    padding: 0%;
    
}
.copy {
    margin: 0%;
    padding: 0%;
    color: rgb(240, 240, 59);


}

.inicioterminos {
    color: rgb(240, 240, 59);
    margin: 0%;
    padding: 0%;
}




/*suscripciones*/


.listasuscripcion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0%;
    gap: 10px;
    color: rgb(197, 59, 197);

    
    }

.listasuscripcion .listasub {
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}














@media(min-width: 992) {

    .lista {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        color: #8123de;
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        list-style-type: none; 
        display: flex;
        justify-content: space-between;
    
    
    }
    
    
    .lista .contenidolista {
        background-color: yellow;
        border-radius: 10px;
        padding: 5px;
    
    }
    
    .lista .detalleslista {
        font-size: 14px;
        color: black;
         ;
    }

}